.vscode/launch.json
images/studphoto/*
images/teacphoto/*
images/student_certificate/*
images/fatherphoto/*
images/motherphoto/*
images/parentphoto/*
images/studhome/*
include/config.inc.php
hr_files/*
student_lec_files/*
hr_absent_files/*
student_grade_files/*
